.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.table td,th{
 width: 250px; 
}
input[type=text] {
  
 
  margin: 8px 0;
  display: inline-block;
  
}
Form{
  margin: 0%  5%  2%  37%;
  
}
[type=submit]{
  margin: 0%  5%  2%  10%;
  width: 150px;
  cursor: pointer;
  background-color: rgb(155, 184, 155);
}

  

