.mn{
    padding: 25px;
    background-color:white;
    margin: 150px 150px 150px 400px;
    max-width: 450px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
body
{
    background-color: skyblue;
} 
.mn header
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    
}   
.inputf .add-input
{
    width: 87%;
   height: 30px;
   margin-bottom: 8px;
   position: relative;
}

.inputf .add-button {
    color:white;
    background-color: blue;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    border-radius: 3px;
    width: 33px;
    height: 30px;
    margin-left: 4px;
    position: absolute;
       
}

.tololist li{
    list-style: none;
    background-color: whitesmoke;
    line-height: 35px;
    position: relative;
    margin-bottom: 8px;
    
   
}
.tololist span{
   
    position: absolute;
    width: 65px;
    text-align: center;
    right: 0px;
    cursor: pointer;
   color:red;
   margin-top: 11px;
    
}
.mn .footer{
    justify-content: space-between;
    display: flex;
    margin-top: 18px;
    
}


.footer button{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 5px 10px;
}



