.mn{
    padding: 25px;
    background-color:white;
    margin: 13px;
    max-width: 100%;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
body
{
    background-color: skyblue;
} 
.mn header
{
    font-size: 30px;
    font-weight: 600;
    
}   
.inputf input
{
    width: 96%;
   height: 25px;
   margin-bottom: 8px;
}

.inputf button{
    color:white;
    background-color: blue;
    cursor: pointer;
    outline: none;
    font-size: 22px;
  
}



.tololist li{
    list-style: none;
    height: 35px;
    background-color: whitesmoke;
    line-height: 45px;
    position: relative;
    margin-bottom: 8px;
    
   
}
.tololist span{
   
    position: absolute;
    width: 65px;
    text-align: center;
    right: 0px;
    cursor: pointer;
   color:red;
   margin-top: 11px;
    
}
.mn .footer{
    justify-content: space-between;
    display: flex;
    margin-top: 18px;
    
}


.footer button{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
   

}

@media only screen and (max-width:600px){
    body{
        background-color:red;

    }
    .mn{
        width: 300px ;
        
    }
    *{
        width: 100%;
     }
   
}

